@import "bourbon/bourbon";
@import "base/base";
@import "partials/base";
@import "grid-settings";
@import "neat/neat";

body {
  background: url(../images/achtergrond.jpg) no-repeat fixed center center;
  background-size: 100% 100%;
}

a {
  &:hover, &:active, &:link, &:visited {
    color: $dark_grey;
  }
}

main {
  @include outer-container;
  border-left: 3px solid $dark_grey;
  border-top: 3px solid $dark_grey;
  border-right: 3px solid $dark_grey;
  background: url(../images/bg-body.jpg);
  padding: 15px;
  @include box-shadow(#333333 2px 10px 8px);
  p {
    font-size: 1.2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h1, h2, h3, h4, h5, h6 {
    @include font;
    line-height: 1.3em;
    @include text-shadow(white, 1px, 1px, 0);
    color: $dark_yellow;
    a {
      font-weight: bold;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .action-tabs {
    margin: 0;
    padding: 0;
    li {
      a {
        @include a2-button;
        @include yellow-bg;
      }
      list-style: none;
      display: inline;
      margin: 0 2px 0 0;
      padding: 0;
    }
  }
}

/* header */

header {
  @include outer-container;
  div {
    @include span-columns(10);
    .site-name-and-slogan {
      @include span-columns(7);
      @include media($tablet) {
        @include span-columns(10 of 10);
      }
      @include text-shadow(black, 2px, 2px, 2px);
      .site-logo {
        float: left;
        width: 20%;
//        margin: 0 12px 0 0;
      }
      .site-name-and-slogan {
        float: left;
        width: 76%;
        .site-name {
          a {
            &:hover, &:active, &:link, &:visited {
              text-decoration: none;
              color: $light_yellow;
              @include font(100);
              font-size: 3.7em;
//              font-style: italic;
              line-height: 1.3em;
              letter-spacing: 0.15em;
            }
          }
        }
        .site-slogan {
          @include font(100);
          font-size: 1.4em;
          color: white;
          letter-spacing: 0.39em;
          @include text-shadow(black 2px 2px 2px);
        }
      }
    }
    .dd-tools-contact-block {
      @include span-columns(3);
      @include media($tablet) {
        @include span-columns(10 of 10);
      }
      background: url(../images/fff-50.png);
      border: 1px dotted #999999;
      .doespic {
        padding: 6px 0 6px 6px;
        float: left;
        width: 29%;
      }
      .doestxt {
        float: left;
        width: 67%;
        padding: 6px 0 6px 0;
        font-size: 85%;
        .socialist {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            display: inline;
            margin: 0 2px 0 0;
            padding: 0;
          }
        }
      }
    }

  }

}

/* object detail page */

.node--type-object #content {
  .field-type-image {
    .field-item {
      float: left;
      display: inline;
      margin: 0 22px 22px 0;
      img {
        max-width: 100%;
        _width: 100%;
        vertical-align: middle;
        height: auto;
        top: 0px;
        border: 2px #eeeeee solid;
        padding: 2px;
        @include box-shadow(#bbbbbb 1px 1px 3px);
        border-radius: 2px;
      }
    }
  }
  .data-list {
    clear: right;
    font-size: 1.2em;
    .label {
      font-weight: bold;
    }
    .field {
      border-bottom: 1px dotted #999999;
      line-height: 1.3em;
      padding: 0 0 10px 0;
      margin: 10px 0 0 0;
    }
    .field-name-body {
      margin: 10px 0 0 0;
    }
  }
}

.main-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      font-size: 1.2em;
      list-style: none;
      background: $light_beige url(../images/menubalk.png);
      border-radius: 10px;
      padding: 6px 6px 10px 8px;
      margin: 0 6px 6px 0;
      @include box-shadow(#cccccc 1px 1px 1px);
      &:hover {
        color: #333333;
      }
      a {
        text-decoration: none;
        color: white;
        padding: 6px;
        @include font;
        @include text-shadow(black, 2px, 2px, 2px);
      }
    }
  }
}

// the slideshow

.slideshow-block {
  ul.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    li.slide {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      padding: 0;
      margin: 0;
      width: 100%;
      left: 0;
      top: 0;
      margin-bottom: 50px;
      img {
        max-width: 100%;
        _width: 100%;
        vertical-align: middle;
        height: auto;
        top: 0px;
        border: 3px $light_brown solid;
      }
      .text {
        position: absolute;
        bottom: 3em;
        left: 10px;
        color: white;
        padding: 10px;
        .title {
          font-family: "Gentium Basic", Georgia, serif, cursive;
          font-weight: 700;
          font-size: 1.7em;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.7);
          max-width: 600px;
          overflow: hidden;
          padding: 10px;
          a {
            &:hover, &:active, &:link, &:visited {
              color: $light_brown;
              text-decoration: none;
            }
          }
        }

      }
    }
  }
  .rslides_tabs {
    bottom: 8em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;
    a {
      border-radius: 5px;
      display: inline-block;
      border: 2px solid white;
      margin-left: 1em;
      margin-bottom: -20px;
      text-indent: -9999px;
      height: 16px;
      width: 16px;
      background-color: $light_brown;
    }
    li {
      display: inline;
      position: relative;

      & + li {
        margin-left: .5em;
      }
      &:first-child {
        position: relative;
        float: none;
        display: inline;
      }
      &.rslides_here a {
        background: $light_yellow;
        background: rgba($light_yellow, .65);
      }
    }
  }

}

footer {
  @include span-columns(10);
}

.layout-content {
  @include span-columns(7);
  @include media($tablet) {
    @include span-columns(10 of 10);
  }
}

.layout-sidebar-second {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(10 of 10);
  }
}

.dd-tools-flickr {
  padding: 0px;
  margin: 0px;
  ul {
    float: left;
    padding: 10px 0px;
    margin: 0px;
    li {
      display: inline;
      list-style: none;
      img {
        border: none;
        padding: 0 5px 5px 0;
        width: 88px;
        height: 88px;
        opacity: 0.6;
        -moz-opacity: 0.6;
        &:hover {
          opacity: 1;
          -moz-opacity: 1;
        }
      }
    }
  }
}